{% extends "base.html" %}

{% load static %}


{% block content %}


  <div class="row my-4">
    <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>Arquivos da Solicitação de Exames de {{ paciente.nome }}</h6>
             
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v text-secondary"></i>
                </a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="container mt-5">

                <div class="table-responsive">
                    <table class="table align-items-center mb-0">
                      <thead>
                        <tr>
                          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Descrição</th>
                          <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Arquivo</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in itens %}
                            <tr>
                            
                                <td class="align-middle text-center text-md">
                                    
                                    {% if item.arquivo %}
                                    <h6 class="mb-0 text-md text-success"> Enviado </h6>
                                    {% else %}
                                    <h6 class="mb-0 text-md text-danger"> Pendente </h6>

                                    {% endif %}
                                    
                                </td>
                                <td class="align-middle text-center text-md">
                                    <span class="font-weight-bold"> {{ item.exame.nome }} </span>
                                </td>
                                {% if item.arquivo %}
                                <td class="align-middle text-center text-md">                            
                                    <a href="{{ item.arquivo.url }}" class="btn bg-gradient-primary mb-0"><i class="fa fa-file-text-o"></i>&nbsp;&nbsp;Visualizar</a>
                                </td>
                                {% else %}
                                <td class="align-middle text-center text-md">                            
                                  <span class="font-weight-bold text-danger"> Pendente </span>
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        
                      </tbody>
                    </table>
                  </div>
            </div>

          
        </div>
      </div>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>Upload de Arquivo</h6>
             
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v text-secondary"></i>
                </a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="container mt-5">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <button type="submit" class="btn bg-gradient-primary">Enviar Arquivo</button>
                </form>
            </div>

          
        </div>
      </div>
    </div>
  </div>
{% endblock %}
