{% extends "base.html" %}

{% load static %}

{% block content %}

{% block url_nav %}

<a href="{% url 'lista_pacientes' %}">Pacientes</a> / <a href="{% url 'lista_consultas_paciente' pk=object.prontuario.paciente.id %}"> Consultas</a> / <a href="{% url 'solicitacoes_exame' paciente_id=object.prontuario.paciente.id %}">Solicitações de Exames</a>

{% endblock %}

<div class="row my-4">
    <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
      <div class="card">
        <div class="card-header pb-0">
          <div class="row">
            <div class="col-lg-6 col-7">
              <h6>Solicitação de Exame: {{ object.descricao }}</h6>
             
            </div>
            <div class="col-lg-6 col-5 my-auto text-end">
              <div class="dropdown float-lg-end pe-4">
                <a class="cursor-pointer" id="dropdownTable" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa fa-ellipsis-v text-secondary"></i>
                </a>
                
              </div>
            </div>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
            <div class="container mt-5">
                <img class="h-100 w-50 card-img-top mx-auto d-block" src="{{ object.qr_code }}" alt="QR Code da Solicitação de Exame">
                <a href="{{ object.url }}" class="btn bg-gradient-primary">Fazer Upload de Exames</button>

            </div>
          
        </div>
      </div>
    </div>
    
  </div>

{% endblock %}
