.fundo_card{
    background-image: url('../img/ivancik.jpg');
}

.fundo_curve{
    background-image: url('../img/curved-images/white-curved.jpg');
}

.card_login{
    background-image: url('../img/curved-images/curved6.jpg');
}
